.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  padding-inline: 24px;
  padding-block: 16px;
}

.header > h4 {
  font-family: "Geist";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  color: var(--gray4);
}

.settings {
  overflow: hidden;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 24px;
}

.settings > div {
  padding: 24px;
  transition: all 0.2s ease-in-out;
}
