.container {
  min-height: 100svh;
}

.sectionsNav {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.sectionsNav > section:nth-child(1) {
  flex: 1;
}

.sectionsNav > svg {
  cursor: pointer;
}

.container > section {
  height: calc(100vh - 50px);
  border-radius: 0px 16px 16px 16px;
}

.notfoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfoundContainer > h3 {
  font-family: Geist;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -1%;
  margin-bottom: 1rem;
}
